<div class="container">
<!--Alert message for returning error messages/notifications-->
    <div class="row">
        <div class="col-6 offset-3">
            <div class="alert alert-secondary alert-dismissible fade hide" role="alert">
                <strong class="alert-message"></strong>
                <span type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </span>
            </div>
        </div>
    </div>    
    <div class="row ">
        <div class="col-12 table-contents">
            <!--table goes here-->