
                </div>
            </div>
        </div>

        <!--an area to receive images for upload for seasons missing a main image-->
        <div class="row">
            <div class="col-4 offset-4">
                <div id="wrapper" class="form-control d-none drop-area-container">
                    <input type="file">
                    <div id="drop-area">
                        <p class="drop-text">Drag and Drop Image Here</p>
                    </div>
                </div>          
            </div>
        </div>

        <footer class="fixed-bottom">
            <div class="container">
                <span class="text-muted">Footer</span>
            </div>
        </footer>
    </body>
</html>